.cost-price,
.sell-price,
.profit {
  font-size: 1.3rem;
  background-color: rgb(233, 233, 233);
  border-radius: 2px;
  padding: 3px 5px;
  width: 70px;
  text-align: right;
  margin-left: 5px;
}
.cost-price {
  background-color: rgb(255, 208, 208);
}
.sell-price {
  background-color: rgb(187, 243, 187);
}
.profit {
  background-color: rgb(209, 216, 255);
}

@media (max-width: 500px) {
  .cost-price,
  .sell-price,
  .profit {
    text-align: center;
    font-size: 1.1rem;
    margin: 4px 5px 0 0;
  }
}