.cost-price,
.sell-price,
.profit {
  font-size: 1.3rem;
  border-radius: 2px;
  padding: 3px 5px;
  width: 55px;
  text-align: right;
  margin-left: 5px;
  font-size: 1rem;
}
.cost-price {
  background-color: rgb(255, 208, 208);
}
.sell-price {
  background-color: rgb(187, 243, 187);
}
.profit {
  background-color: rgb(209, 216, 255);
}

@media (max-width: 500px) {
  .cost-price,
  .sell-price,
  .profit {
    margin: 4px 5px 0 0;
  }
}