.date {
  width: 60px;
}
.total {
  background-color: var(--info-gray);
}
.abono {
  background-color: var(--info-green);
}
.saldo {
  background-color: var(--info-red);
}
.profit {
  background-color: var(--info-blue);
}

@media (max-width: 500px) {
  .total,
  .abono,
  .saldo,
  .date,
  .profit {
    margin: 4px 5px 0 0;
  }
  .date {
    text-align: left;
    padding: 3px 0;
  }
}