.product-card input[type=number]{
  -moz-appearance: textfield;
}
.product-card input::-webkit-outer-spin-button,
.product-card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-card {
  border-bottom: 1px solid gainsboro;
  width: 100%;
  padding: 5px;
}
.product-card:last-child {
  border-bottom: none;
}
.product-info-container {
  flex-grow: 1;
}
.product-info-container {
  justify-content: space-between;
}
.product-info:nth-child(2) {
  align-items: center;
}
.product-id {
  background-color: skyblue;
  margin-right: 10px;
  border-radius: 5px;
  height: 20px;
  min-width: 35px;
  font-size: 1rem;
}
.product-name {
  align-items: center;
}
.product-name,
.product-price {
  font-size: 1.2rem;
}
.product-price {
  color: gray;
}
.quantity-container {
  margin-left: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  overflow: hidden;
}
.quantity {
  height: 20px;
  width: 30px;
  text-align: center;
  border: none;
  font-size: 1.1rem;
}
.quantity:focus-visible {
  outline: none;
}
.quantity-button {
  border: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.quantity-button:hover {
  background-color: gainsboro;
}
.subtotal {
  margin-left: 5px;
  width: 60px;
  justify-content: right;
  font-size: 1.2rem;
  border-radius: 5px;
}
.product-delete {
  border-radius: 5px;
  padding: 4px;
  stroke: red;
  margin-left: 10px;
  height: 27px;
  max-width: 27px;
  min-width: 27px;
  cursor: pointer;
  background-color: rgb(255, 220, 220);
}
.product-delete:hover {
  background-color: rgb(255, 188, 188);
}

@media (max-width: 500px) {
  .product-info-container {
    flex-direction: column;
  }
  .product-info {
    flex-direction: row-reverse;
  }
  .product-info:nth-child(2) {
    margin-top: 5px;
    justify-content: left;
  }
  .product-price {
    margin-left: 10px;
  }
  .quantity-container {
    margin-left: 0;
  }
}