.home {
  flex-grow: 1;
}
.home img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 20px gray;
}
.home h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
}
.home h3 {
  display: inline;
  background-color: wheat;
  width: 220px;
  padding: 10px 0;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .home img {
    width: 150px;
    height: 150px;
  }
  .home h1 {
    font-size: 1.3rem;
  }
}