.register-options {
  margin-top: 8px;
  width: 100%;
  justify-content: space-around;
}
.register-option {
  border-radius: 5px;
  padding: 8px;
  background-color: var(--action-button);
  box-shadow: 1px 1px 1px gray;
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin-left: 5px;
}
.register-option:first-child {
  margin-left: 0;
}
.register-option:hover {
  background-color: var(--action-button-hover);
}
.option-button-label {
  color: gray;
  font-size: 1.1rem;
  margin-top: 5px;
}
.register-options-payment {
  margin-left: 5px;
  height: 100%;
}
.payment-opt {
  padding: 5px;
  margin-left: 5px;
}