.side-menu {
  min-height: 100vh;
  background-color: white;
  box-shadow: 1px 0 5px gainsboro;
  border-radius: 0 10px 10px 0;
  z-index: 3;
  /* overflow: scroll; */
}
.sidebar-logo {
  height: 50px;
  background-color: transparent;
}
/*Options*/
.side-menu-div {
  width: 100%;
}
.side-menu-options {
  justify-content: start;
}
.side-menu-opt {
  color: #333333;
  width: 100%;
  height: 40px;
  justify-content: left;
  border: none;
  border-right: 5px solid transparent;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 0 50px 0 30px;
  cursor: pointer;
}
.side-menu-opt:hover {
  background-color: var(--hover);
}
.side-menu-divider {
  margin: 3px 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 80%;
}
.close-menu {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: left;
  top: 0;
  z-index: 1;
}
.hidden {
  display: none;
}
.menu-option-active {
  background-color: rgb(239, 249, 255);
  border-right: 5px solid rgb(104, 194, 255);
}
@media (max-width: 500px) {
  .side-menu {
    position: absolute;
    z-index: 2;
    box-shadow: none;
  }
}