.register-frm-btn {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
.frm-btn-cancel,
.frm-btn-submit {
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
  width: 25%;
}
.frm-btn-submit {
  background-color: rgb(67, 160, 87);
  margin-left: 12px;
}
.frm-btn-submit:hover {
  background-color: rgb(62, 150, 81);
}
.frm-btn-submit:active {
  background-color: rgb(57, 114, 70);
}
.frm-btn-cancel {
  background-color: rgb(187, 84, 84);
}
.frm-btn-cancel:hover {
  background-color: rgb(173, 79, 79);
}
.frm-btn-cancel:active {
  background-color: rgb(150, 68, 68);
}

@media (max-width: 500px) {
  .frm-btn-cancel,
  .frm-btn-submit {
    width: 100%;
  }
}