.span-container {
  align-items: center;
}
.frm-span-label {
  color: gray;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 3px;
}
.frm-span {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  border-radius: 5px 5px 0 0;
  font-size: 1.2rem;
  height: 25px;
  padding: 0 10px;
  width: 100%;
}