td {
  padding: 15px 17px;
  word-wrap: break-word;
}
.table tr:nth-child(2n) {
  background-color: rgb(250, 250, 250);
}
.td-id {
  width: 50px;
  text-align: center;
  padding-right: 0;
}
.td-options {
  padding: 0;
  width: 50px;
  text-align: center;
}
.td-options:hover {
  background-color: rgb(202, 237, 247);
}
.table tr:hover {
  background-color: rgb(228, 247, 252);
}
.tbl-options-btn {
  height: 47px;
  width: 47px;
  background-color: transparent;
  border: 0;
  background-image: url('./options.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
}