.action-buttons {
  margin-bottom: 12px;
}
.action-btn {
  margin-left: 5px;
  height: 30px;
  max-width: 40px;
  background-color: var(--action-button);
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 1px gray;
  width: 60px;
}
.action-btn:hover {
  background-color: var(--action-button-hover);
}
.action-btn img {
  height: 20px;
}
.frm-input {
  background-color: white;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 5px gainsboro;
  height: 30px;
  padding: 0 10px;
  width: 100%;
}
.frm-input:hover {
  outline: 1px solid gray;
}
.frm-input:focus-visible {
  outline: 1px solid gray;
}
.frm-input-icon {
  background-image: url('./search.svg');
  background-repeat: no-repeat;
  padding: 0 5px 0 35px;
  background-size: 15px;
  background-position: 11px center;
}
.search {
  width: 100%;
}