.order-container {
  max-width: 600px;
  background-color: rgb(250, 250, 250);
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  margin: 0 auto;
  overflow-y: scroll;
}
.order-info-container {
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 7px 7px 0;
}
.order-info {
  margin-bottom: 12px;
  width: 100%;
  align-items: end;
}
.order-info div {
  width: 100%;
  margin-left: 12px;
}
.order-info div:first-child {
  margin-left: 0;
}
.order-id {
  justify-content: center;
}
.order-total,
.order-abono,
.order-saldo,
.order-profit {
  justify-content: right;
  font-size: 1.1rem;
}
.order-total {
  background-color: var(--info-gray);
}
.order-abono {
  background-color: var(--info-green);
}
.order-saldo {
  background-color: var(--info-red);
}
.order-profit {
  background-color: var(--info-blue);
}
.client-add {
  height: 25px;
  margin-bottom: 1px;
}
.order-totals {
  justify-content: space-evenly;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 12px;
}
.order-totals-item,
.order-totals-label {
  font-size: 1.2rem;
  font-weight: bold;
}
.order-totals-label {
  margin-bottom: 5px;
  color: gray;
}