.open-product-search {
  margin-bottom: 12px;
  cursor: pointer;
  min-height: 30px;
  background-color: var(--action-button);
  border: none;
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;
}
.open-product-search:hover {
  background-color: var(--action-button-hover);
}